<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @habit.name %>
</p>

<p>
  <b>End date:</b>
  <%= @habit.end_date %>
</p>


<%= link_to 'Edit', edit_habit_path(@habit) %> |
<%= link_to 'Back', habits_path %>
