<!DOCTYPE html>
<html>
<head>
  <title>Habittracker</title>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'master' %>
  <%= javascript_include_tag 'sencha-touch-debug' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
